[2015-11-03 06:18] glasnt opened #2 "Global CONTRIBUTING.md"
(Putting this issue under the pybee.github.io repo, as it seems like the best place to put global matters)

GitHub does fancy things with a CONTRIBUTING{,.md} file, where it will display [a link to it on new issues opened](https://github.com/blog/1184-contributing-guidelines)[0]. [Example link](https://github.com/glasnt/octohat/issues/new)

The index.html on this repo already points to the [Python

[2015-11-04 13:27] freakboy3742 commented on #2
Broadly speaking - sounds like a great idea - +1.

The "canonical CONTRIBUTING in pybee.github.io; stub in all projects" sounds like a reasonable approach, too.

My biggest concern is about the content on the canonical CONTRIBUTING file, and the extent to which having a long set of contribution guidelines/instructions might be intimidating in itself. I suspect this might come down to doing some go

[2015-12-05 08:41] freakboy3742 commented on #2
Resolved by #3

[2015-12-05 08:41] #2 closed

[2015-12-05 08:45] freakboy3742 opened #4 "Spruce up the design."
The design for the website is the very least I could manage poking around with Bootstrap. You may have noticed - I'm not a designer :-)

If you're a front-end inclined person, I've love to see a new design for the project. This includes the main pybee.org site, as well as the individual project pages.

[2016-06-02 22:16] treyhunner opened #8 "Text-wrapping bug"
When description wraps to multiple lines, the UI breaks.

This is particularly problematic because with different window sizes, the text wraps differently.

I noticed this by attempting to make a long description text for cricket.

![selection_761](https://cloud.githubusercontent.com/assets/285352/15762833/db5ee7b2-28d4-11e6-8b5c-ea93470d2b21.png)

Noted in #7.

[2016-07-02 14:23] freakboy3742 commented on #4
Marking this closed on the basis that we're about to launch a new design.

[2016-07-02 14:23] #4 closed

[2016-07-02 14:23] freakboy3742 commented on #8
We're working on a new design; this issue no longer exists.

[2016-07-02 14:23] #8 closed

[2016-07-06 00:05] willingc opened #12 "Debug auto deploy"
@freakboy3742 @singingwolfboy

`Cleaning up git repository with `git stash --all`. If you need build artifacts for deployment, set `deploy.skip_cleanup: true`. See https://docs.travis-ci.com/user/deployment/#Uploading-Files.`

Wondering if telling Travis to `deploy.skip_cleanup:true` would help???

[2016-07-06 00:20] singingwolfboy commented on #12
No, I'm pretty sure that's unrelated. There _is_ a Git repo, so the artifacts are there, it's just that the URL is wrong. I think I have a fix in https://github.com/lektor/lektor/pull/240, but I'm not certain.

[2016-07-06 05:17] freakboy3742 commented on #12
Deployed using a forked version of Lector in 3e6964bcc. When lektor/lektor#240 is merged and a new version of Lektor is released, we can move back to a trunk version of Lektor. Leaving this ticket open until then.

[2016-07-25 21:03] dquam opened #25 "Up For Grabs link on VOC page is pointing to the wrong tag"
The Up For Grabs link on http://pybee.org/project/projects/bridges/voc/ is pointing to https://github.com/pybee/voc/issues?q=is%3Aissue+is%3Aopen+label%3Aup-for-grabs. I believe it should be pointing to https://github.com/pybee/voc/issues?q=is%3Aissue+is%3Aopen+label%3Aup-fo-grabs (the label should read up-fo-grabs as opposed to up-for-grabs).

[2016-07-25 21:37] #25 closed

[2016-08-30 15:21] adrienbrunet opened #33 "pybee.org homepage console error"
I noticed the following error in my console on your homepage:
Uncaught Error: Bootstrap tooltips require Tether (http://github.hubspot.com/tether/)

Don't know if you can fix it or if it's on hubspot side.
If this is irrelevant, feel free to close it. It's like a -9999 priority issue.

Cheers! :beer: or shoud I say :bee:r!

[2016-08-30 21:50] freakboy3742 commented on #33
Thanks for the report. I've noticed that in my logs before - but as you say; priority -9999 issue, so I didn't get around to formally reporting it. However, it's almost certainly a trivial fix - something to do with a Bootstrap dependency being missing. Not sure what it is, but it's an easy place for someone to investigate and contribute.

[2016-08-31 09:40] #33 closed

[2016-09-04 23:20] Ocupe opened #36 ""keep-informed" form not working with Disconnect add-on on Firefox"
Clicking Subscribe on the form on the [keep-informed page](http://pybee.org/community/keep-informed/) leads to no effect, no mail, no user feedback. Tested on Firefox 48.0.1.
The form is also rendered strange (no Bootstrap look), it looks like it falls back to default.
I also tested the form on Chrome, Opera and Safari, all three worked (and looked) as expected.

[2016-09-04 23:31] glasnt commented on #36
Hi @Ocupe! Thanks for the report.

The styles definitely need to be addressed. I'll get onto this

As for the functionality; this is base MailChimp form. If I test it under Firefox (47.0.1), I get a green message added to the page after submitting that says "Almost finished... We need to confirm your email address." Can you confirm you have no extensions that block third-party JavaScript or otherw

[2016-09-05 10:16] Ocupe commented on #36
Hi,
I tested it again in a virtual machine and it worked for me in Firefox 47 and 48 sorry for the wrong infos. Probably still interesting is that the [Disconnect  Add-On](https://addons.mozilla.org/en-US/firefox/addon/disconnect/) was the thing that blocked the request to MailChimp. It is a Firefox featured add-on with 293,243 users at  the moment. I don't know if we can do anything about how Mai

[2016-09-17 02:25] glasnt commented on #36
Hi @Ocupe. It looks like you can explicitly add mailchimp to your whitelist in Disconnect, if that's something you want to do, but signing up to a newsletter is only a one-time action.

Perhaps in the future you can, as with any other site that you want to re-enable functionality that's blocked by third-party apps, you temporarily disable the blocker. Your milage may vary, as this is explicitly ta

[2016-09-17 02:25] #36 closed

[2016-09-23 09:01] carltongibson opened #43 "Project images 404s"
Hi.

The homepage has a few 404s:

![screenshot 2016-09-23 10 57 54](https://cloud.githubusercontent.com/assets/64686/18780192/9f3f4a3c-817c-11e6-9ed9-226490a0f1aa.png)

The files exist in the project, e.g. https://github.com/pybee/pybee.github.io/blob/lektor/content/project/projects/libraries/toga/toga.png exists.

Also the URLs work without the `-32` suffix, e.g. http://pybee.org/project/project

[2016-09-23 10:01] glasnt commented on #43
Whoops, sorry @carltongibson, my bad. I'll fix this up. This was based on #42 and me seeing cached images

[2016-09-23 10:18] glasnt commented on #43
This has been fixed in 7260d4f, which should roll out to the site soonly. If this fixes what you're seeing, let me know and this issue can be closed.

[2016-09-23 11:19] carltongibson commented on #43
Awesome! Side bar images are now showing. Good one.

[2016-09-23 11:19] #43 closed

[2016-10-01 14:47] shubheksha opened #45 "The button text isn't visible properly"
Screenshot attached for reference.
![image](https://cloud.githubusercontent.com/assets/7693422/19014791/fa98ebf2-8813-11e6-8fc0-8529d239aea7.png)

[2016-10-02 11:01] #45 closed

[2016-10-26 03:57] eliasdorneles opened #54 "Video of "Python All the Things" isn't loading because of same origin policy"
Right now if you google `python all the things`, one of the first relevant results is this page:

http://pybee.org/community/resources/python-all-the-things/

Unfortunately, the video isn't loading (tested on Chrome and FF), apparently because of Same Origin Policy:

![pythonallthethings beeware-googlechrome_2016-10-26_01 56 46](https://cloud.githubusercontent.com/assets/37565/19712792/7fa8c72c-9b

[2016-10-26 04:07] glasnt commented on #54
Eek! I'll get this fixed up

[2016-10-26 04:19] eliasdorneles commented on #54
Hey, thanks for the prompt response :)

[2016-10-26 05:07] #54 closed

[2016-10-26 06:47] glasnt commented on #54
All done! ✨

[2016-10-30 02:37] azengard opened #63 "Translation to pt_BR."
We can use this issue to organize the translation.
--------
I will translate the following pages:

**Work on**
http://pybee.org/community/team/
http://pybee.org/community/getting-help/

**Waiting for Commit**
http://pybee.org/community/behavior/
http://pybee.org/community/behavior/code-of-conduct/
http://pybee.org/community/behavior/making-a-coc-complaint/
http://pybee.org/community/behavior/chang

[2016-10-30 23:46] rsip22 commented on #63
I'm translating the homepage.

I'm also working on the links and navbar and fixing things site-wide to improve our translation effords.

[2016-11-06 11:29] matthiask opened #67 "Somehow, registering for the enthusiasts' newsletter didn't work through the website"
Going directly to pybee.us13.list-manage.com/subscribe/post?u=80484e69d1f766a4f4477b680&id=fe4d05bfd7 fixed it (for me).

I haven't see a captcha on pybee.org, but got one on the URL above. Maybe that's part of the problem.

The error said something about too many retries for my email address, and trying again in 5 minutes. That didn't help.

[2017-01-06 09:15] alanbato opened #83 "The copyright notice still says 2016"
I was reading through the first collaboration guide and noticed something wasn't quite _right_.
![screenshot_20170106_030858](https://cloud.githubusercontent.com/assets/11902612/21713068/b1b0c1b2-d3bd-11e6-9519-ec29d15b2e09.png)
I know this isn't that big of a deal, but I just wanted to let you know in case you weren't aware of it :)

Cheers! :snake: :bee:

[2017-01-06 11:01] glasnt commented on #83
Oh the humanity! Thank you for pointing out such an important bug!

If you want to submit a pull request that corrects this, we will merge it in ASAP.

🐍

[2017-01-06 21:45] alanbato commented on #83
Sorry for the delay, here's the PR #84 :snail: :snake:

[2017-01-07 02:27] glasnt commented on #83
Thank you! ✨

[2017-01-07 02:27] #83 closed

[2017-02-24 16:57] jambonrose commented on #12
Quick note: lektor/lektor#240 has been merged!

[2017-03-01 08:39] joncasdam commented on #63
hello.what is status on this? I can jump in too.

[2017-03-01 12:38] freakboy3742 commented on #63
@joncasdam Any page on the BeeWare site that doesn't have a `+pt_BR` version still requires translation. You can also review any of the existing pages to confirm the translation is accurate.

[2017-03-01 20:46] joncasdam opened #102 "Add language selector"
I think would be a good addition to have a language selector or, perhaps, a page with a link to browse to existing translations.

[2017-03-01 21:41] glasnt commented on #102
Hi @joncasdam. This sounds like a great idea! The [lektor docs](https://www.getlektor.com/docs/content/alts/) don't detail how to do this, but [this gist](https://gist.github.com/skz169/e5801df6e894f39cb2de) might help if you wanted to implement a language selector in the website header

[2017-03-03 16:27] joncasdam commented on #102
Grerat. I'm on it.

[2017-03-03 16:28] joncasdam commented on #63
ok, @freakboy3742 - working on pages `project` folder.
PR coming soon.

[2017-03-03 21:46] joncasdam opened #105 "using/ios-app/ actually makes reference to Android instead of iOS"
In the last paragraph it says:

It should be iOS, right?

[2017-03-03 21:48] freakboy3742 commented on #105
Looks like an oversight, yes!

[2017-03-05 12:03] joncasdam commented on #105
Closing for has already been merged at https://github.com/pybee/pybee.github.io/pull/106

[2017-03-05 12:03] #105 closed

[2017-03-14 13:05] joncasdam commented on #102
Fix added as part of https://github.com/pybee/pybee.github.io/pull/107, @glasnt

[2017-03-24 15:31] DanielKim1 opened #111 "Broken link in "Tutorial: Preparing your Environment for Batavia Development""
https://batavia.readthedocs.io/en/latest/intro/tutorial-0.html

The "on our Environment setup guide" link leads to http://pybee.org/contributing/first-time/setup/ which does not exist. It should lead to http://pybee.org/contributing/how/first-time/setup/

[2017-03-24 15:33] DanielKim1 commented on #111
I'm going to work on this

[2017-03-24 18:02] #111 closed

[2017-04-11 13:33] clokep opened #116 "Feed for news?"
Thanks for an awesome project so far! I've been eagerly following along. I went to http://pybee.org/news/ and was hoping to follow project news easily, unfortunately there's no RSS/Atom feed.

It looks like there's a lektor plugin that could enable this: https://github.com/ajdavis/lektor-atom

[2017-04-12 18:27] #116 closed

[2017-04-12 18:41] clokep commented on #116
Hmm...I now see a http://pybee.org/news@atom/buzz page, but that doesn't seem to actually have any data (404s).

[2017-04-12 19:17] freakboy3742 commented on #116
Apologies - something went wonky in the deployment process. This should be fixed now.

[2017-04-12 19:18] clokep commented on #116
Sweet. Thanks! 👍

If anyone in the future finds this, the correct URL is http://pybee.org/news/buzz/atom.xml

[2017-04-23 05:15] glasnt opened #120 "Document package updating process"
Scope: BDFN, but helpful for repeatability. Includes npm and pypi, etc. Also interlinking of projects and dependencies

[2017-04-23 05:15] glasnt opened #121 "Document project interlinking"
Things depend on each other, and we don't have a good picture of this interconnectivity documented at the moment.

[2017-04-26 08:46] Tset-Noitamotua opened #122 "The future of web & mobile app development - PWA"
It seems that [Progressive Web Apps][1] (PWA) will become popular in the future. Is the BeeWare project aware of this movement and will consider that on it's roadmap?

[1]: https://developers.google.com/web/progressive-web-apps/

[2017-04-26 09:24] freakboy3742 commented on #122
We're certainly aware of it; however, it's not something that is specifically on our roadmap.

The problem is that it isn't a single technology, idea, or library, so you can't put something like "implement progressive web app" as a bullet point on a todo list. PWA is more of a philosophy for how to build web apps that behave nicely. From that perspective, we're totally on board - and BeeWare (and

[2017-04-26 09:44] Tset-Noitamotua commented on #122
That's nice to hear. BeeWare has several [subprojects](https://github.com/pybee) that serve as cookiecutter templates for different platforms. Would be cool to see something like a "Python-PWA-templates" subproject or at least some PWA-examples in [Toga](https://github.com/pybee/toga) repo in the future.

[2017-04-27 02:34] freakboy3742 commented on #122
I think you're missing my point. What *is* a PWA app? What allows me to put a "PWA" label on my existing app?

PWA isn't a platform. It isn't a library. It isn't a specific set of compliance criteria. Ultimately, PWA is little more than a marketing label that Google is using to describe sites that make good use of modern web tech. And sure - they're a desirable set of properties for a web app to h

[2017-04-27 06:12] Tset-Noitamotua commented on #122
I got the point. Regard my post as a suggestion to utilize the term PWA as marketing for your Project ;-)

[2017-05-22 16:01] phildini opened #133 "Fix links on Contributing page"
If you look at https://pybee.org/contributing/how/ you'll notice the links in the "Code Contribution" section look a little weird.

There are other examples on that page for how to fix the links.

https://github.com/pybee/pybee.github.io/blob/lektor/content/contributing/how/contents.lr#L56

[2017-05-22 18:02] BruceEckel opened #134 "Documentation overview/pointers for complete new-bees"
Going to the home page, I don't know where to start. Russ explained there is no single point of entry, but the newbie needs to know that and how to make the initial decision about where to start.

Once I get further along and have an understanding of this I might be able to come back and make a pull request.

[2017-05-22 18:14] BruceEckel opened #135 "Code of conduct is 404 on "about" page"
On
[https://pybee.org/project/about/](https://pybee.org/project/about/)
Almost at the bottom, the link to
[https://pybee.org/project/about/community/code-of-conduct/](https://pybee.org/project/about/community/code-of-conduct/) produces a 404

[2017-05-22 22:01] ne0zen commented on #133
FYI:
https://github.com/pybee/pybee.github.io/blob/master/content/contributing/how/contents.lr#L56

results in a 404 for me.

[2017-05-22 22:18] phildini commented on #133
@ne0zen yep! You're right! Updated to use the right branch.

[2017-05-23 01:15] ne0zen commented on #133
@phildini thanks!  I'm happy to take this on if desired.

[2017-05-23 21:45] phildini commented on #133
@ne0zen If you look at the page, it's been fixed!

[2017-05-23 21:45] #133 closed

[2017-05-24 09:19] #122 closed

[2017-05-24 18:26] li3n3 commented on #135
Would love to knock this one out.

[2017-05-24 19:17] #135 closed

[2017-05-24 22:02] phildini opened #145 "Referencing pages by name rather than path"
Sometimes the location of pages in pybee.org change, and so the links break.

If lektor has the ability to refer to a page by name instead of path, they might break less!

This ticket is: investigate if lektor has this ability, and if so start adding it to our docs here.

[2017-05-24 22:03] li3n3 commented on #145
I will take this on!

[2017-07-23 22:35] goanpeca opened #155 "Spanish translation"
Hello!, this project is awesome and I would like to contribute in the near future. In the meantime I can start by translating to Spanish. (Also I really like Lektor :-p )

Greetings from Colombia.

[2017-07-23 22:36] goanpeca commented on #155
@freakboy3742 do you prefer that this work is made in separate PRs, batches (per group of pages etc..) or as a massive single PR? I am guessing the former is better.

[2017-07-24 00:32] freakboy3742 commented on #155
Thanks for the kind words!

As for the PR approach - whatever works well for your workflow is fine. As long as it's clear from our end when a translation is complete and ready for merge, we don't much mind whether it comes in 1 PR or 10.

[2017-07-24 00:40] goanpeca opened #156 "Update readme (lektor version)"
Lektor at least for linux/osx) is python3 ready. For windows python 3 still has some bugs and tests that fail.

Still, maybe we can update this

And also I would like to ask if it is possible to include a conda option (disclaimer, I built/maintain the Lektor conda-forge packages). Its fine if you guys don't agree. Lektor conda pakcages include a patch for windows and python3 (but I have not tested

[2017-07-24 00:46] goanpeca commented on #155
I wrote a small selenium script to parse all the files and autogenerate the new translation files based on Google translate. With this in hand, I will just adjust the translations (plus this saves a lot of time)

Maybe we could use this approach for other translations?

[2017-07-24 03:21] freakboy3742 commented on #155
Sure - depends how good the initial translations are, I suppose...

[2017-07-24 03:30] freakboy3742 commented on #155
If it turns out that the translations are reliable enough straight out of Google Translate, it might be nice to set this up as an automated commit trigger. That way, every time new content is added to the website, it could be automatically translated to provide a first draft, either as a pull request with the automatically generated content, or raising an issue that flags that a new translation ne

[2017-07-24 03:35] goanpeca commented on #155
Sure thing :-), sounds, good. I need to polish a bit the script, I am almost there, If we used the translate api from google it would be probably much faster than the selenium approach, but only the initial batch thing takes a bit long...

On another point, is there a Translators team created on the org? it could be read access only for now, but is good to have some visibility on that side, so oth

[2017-07-24 05:01] goanpeca opened #157 "Hardcoded text in templates"
There are some pages that hardcode text (home being one example), so my question is regarding the strategy we should/could use:

1. Move the html from the template to body of the home page, so it can be translated
2. Add a bit of structure to the home model page (for the home page example)
3. Use databags for the content inside the home page and alternatives on bags
4. Use flowblocks in the home p

[2017-07-25 00:20] freakboy3742 commented on #155
There isn't currently a translators team; if you think that would help with organisation, I'm happy to set one up.

[2017-07-25 00:21] freakboy3742 commented on #155
A related activity - there's not much use *having* a team unless people know it exists; so we probably need some documentation for how to get started on translation, how to contribute, what you need to do to join the translation team, etc. Care to take a swing at drafting something?

[2017-07-25 00:36] goanpeca commented on #155
Sure thing

[2017-07-25 00:36] goanpeca opened #159 "Draft translation teams document"

[2017-07-26 10:38] uranusjr commented on #145
From what I know Lektor actually is built heavily around using paths to identify contents. If a pages changes location, the user should provide proper redirection or explicitly changes all paths. Lektor simply treat the moved page as a new one.

What should be done, on the other hand, is to properly use [the `|url` and `|asseturl` filters](https://www.getlektor.com/docs/templates/urls/#url-filter)

[2017-07-26 14:56] goanpeca commented on #145
@uranusjr I think I covered all (unless I forgot something) with the latest PR for adding databags and localization.

Urls/paths inside rst content on the other hand have to be adapted on translation

[2017-07-27 07:40] uranusjr commented on #145
@goanpeca Yes, I pulled the source after seeing this issue to work on it, only to find you already did all the hard work. Great job!

I wonder if we can extend Lektor’s rst renderer to make in-content path formatting easier. I did something similar for Markdown in a private CMS project before. Not sure if it’s worth the effort though.

[2017-07-27 07:58] goanpeca commented on #145
I would say it is based on all thw urls within rst i have seen

[2017-08-31 11:56] joncasdam commented on #102
Done at #107

[2017-08-31 11:56] #102 closed

[2017-09-04 15:43] goanpeca commented on #12
Can we close this issue @willingc ?

[2017-09-04 15:43] goanpeca commented on #67
@matthiask is this still valid. Can we close this @freakboy3742 ?

[2017-09-04 15:46] matthiask commented on #67
Oh, I'm quite sure it isn't. Thanks for the reminder.

[2017-09-04 15:46] #67 closed

[2017-09-04 15:53] willingc commented on #12
Sure @goanpeca

[2017-09-04 15:53] #12 closed

[2017-09-10 12:51] pwaqo commented on #155
Hello, I'm from Spain and would like also to contribute translating this. What is the status of the Selenium script? @goanpeca

[2017-09-10 13:22] goanpeca commented on #155
@pwaqo thanks for the help, this week I am pushing the PR with all the translations. You could help me a lot by proofreading :-)

[2017-09-10 13:44] pwaqo commented on #155
:+1:  @goanpeca

[2017-09-23 21:27] goanpeca opened #191 "Add github edit links to every document on the site"
Sometimes user are reading the documentation on the website and they find a typo or some small error. Having a link to the specific file in the specific language (to github edit) available is of great help for this!

Thoughts?

[2017-09-23 21:29] goanpeca commented on #145
@phildini in the mean time I wrote a script to check for broken links on the whole built site. We could even add this as a beekeeper job so that no links are left dead. On this issue I found that some links that refer to pycon asutralia in previous years no longer exist, but this is a different issues.

[2017-09-24 01:37] #155 closed

[2017-09-24 01:39] freakboy3742 commented on #191
YES PLEASE! That would be *incredible*!

[2017-09-25 16:44] #157 closed

[2017-09-25 23:01] #191 closed

[2017-09-27 13:48] goanpeca opened #199 "Signal users that a translation is potentially out of date"
How to signal to the user? Maybe an exlamation triangle next to the translate link - possibly in red, or something else that will draw attention - with some pop-out text that explains (in native language) that the translation is out of date (maybe even with dates/number of lines changed?). Does that sound appropriate?

[2017-09-27 23:50] #199 closed

[2017-10-05 01:00] goanpeca opened #209 "Add list of out of date pages"
From @freakboy3742

[2017-10-19 19:06] RatanShreshtha opened #224 "Pipenv should be added to Setting up your environment guide."
[Pipenv](https://github.com/kennethreitz/pipenv) — the officially recommended Python packaging tool from Python.org, free (as in freedom).
It automatically creates and manages a virtualenv for your projects, as well as adds/removes packages from your Pipfile as you install/uninstall packages.

And it is much easier to setup virtual environment with different python versions with Pipenv.

[2017-10-19 23:18] freakboy3742 commented on #224
I haven't had a chance to play around with pipenv; it's also a very new tool, and possibly prone to changes so I'm hesitant to recommend it at this time. This might change in the future if pipenv stabilises and gains really widespread usage.

[2017-10-19 23:18] #224 closed

[2017-11-05 12:58] eliasdorneles opened #244 "The language menu shouldn't be translated"
The language menu should be more like the one in Wikipedia, where no matter which language is the page you're visiting, the links for other languages are written in those languages.

As it is right now, there is a bit of an accessibility problem: if someone happens to follow a [link to, say, the German version](https://pybee.org/de_DE/), they have to either know what "Sprachen" means or know the s

[2017-11-06 14:13] goanpeca commented on #244
I agree! lets change those :-p

[2017-11-06 18:46] eliasdorneles commented on #244
I'd go with both "Languages" plus an icon

[2017-11-10 17:07] SanketDG opened #247 "Use better formatted issue pages"
Use the following issue links in https://pybee.org/contributing/how/

https://github.com/issues?q=user%3Apybee+label%3Aup-for-grabs+is%3Aopen&type=Issues
https://github.com/issues?q=user%3Apybee+label%3Afirst-timers-only+is%3Aopen&type=Issues

[2017-11-10 17:11] goanpeca commented on #247
@SanketDG thanks for the suggestion. I would encourage you to submit the pull request. It is very easy, you can update the page https://pybee.org/contributing/how/ by clicking on the `Edito on Github` Button at the top right.

<img width="1410" alt="screen shot 2017-11-10 at 12 11 07" src="https://user-images.githubusercontent.com/3627835/32669967-46b51390-c610-11e7-96a4-1d509148e26a.png">

Cheers

[2017-11-10 22:42] #247 closed

[2017-11-11 03:13] #244 closed

[2017-11-11 03:14] #209 closed

[2017-11-11 16:12] goanpeca commented on #121
@glasnt sort of creating a dependency graph for all the tools, to produce a nice image?

[2017-12-24 04:33] oesah opened #256 "Uninstalling old app hangs / takes long time"
[code]

Stuck at that point (ran 15 mins already, tried multiple times). Seems to get stuck at roughly 90-95% on the apple loading bar.

Virtualenv: python 3.5, briefcase-0.2.1
MacOS: 10.11.6 (15G1611)
Command: `python setup.py ios -s`

Any ideas why and what to do?

[2017-12-24 05:32] freakboy3742 commented on #256
You've opened this ticket on the BeeWare website repository - I'm guessing this is meant as a report against Briefcase?

The startup process definitely shouldn't take 15 minutes - if there isn't obvious progress after about 30 seconds, it indicates something is wrong.

The best suggestion I can give is to start the simulator manually. Use Finder (or Xcode) to open the simulator app, and have it ru

[2017-12-24 05:32] #256 closed

[2018-01-18 06:57] shreyateeza commented on #156
Hey I am new here. I would like to work on this issue.

[2018-01-18 07:00] freakboy3742 commented on #156
@shreyateeza Sure - dive right in! Essentially we need someone to verify that a Python3 configuration works; and if it does, update our Travis configuration and documentation to reflect this fact.

That said - if you're looking for ways to contribute, this possibly isn't the best place to start. Our [guide for new contributors](https://pybee.org/contributing/how/first-time/) has a collection of ot

[2018-01-18 16:44] goanpeca commented on #156
Actually @freakboy3742 there are still some glitches for python3 when making the deploy so, master has the solution in, but a new version has not been released yet, so I would put this on hold at the moment

[2018-03-14 13:45] goanpeca opened #267 "Fix URL errors"
[code]

[2018-03-27 14:19] DholakiaJaydeep commented on #156
Hey, @freakboy3742 I just tested it in Python3 on Windows platform and it had many errors and exceptions showing. I have solved it! it now runs in Python3 and in Windows platform.

![lector running](https://user-images.githubusercontent.com/14180227/37973354-eb63661e-31f7-11e8-9776-4889856c9763.jpg)

[2018-05-14 21:05] bobm123 commented on #267
In addition, the link to "The Cheese Shop Sketch" on YouTube has apparently been taken down. Please see https://github.com/pybee/pybee.github.io/pull/275

[2018-05-14 21:57] #267 closed

[2018-05-14 22:20] glasnt opened #276 "Identify and update all broken links"
The current [Travis CI](https://travis-ci.org/pybee/pybee.github.io/) builds are breaking due to tests we have to make sure URLs are valid and working.

Your mission should you choose to accept it:
* Go to the latest TravisCI build, and find the URLs that are having issues
* Work out how to best update them
  - has the website gone away? Is there an [Internet Archive](https://web.archive.org/) of

[2018-05-14 22:27] glasnt commented on #276
Whoops, looks like this was already handled today on site. The tests are working again!

https://travis-ci.org/pybee/pybee.github.io/builds/378954730

There's still other First Timer tickets up for grabs!

[2018-05-14 22:27] #276 closed

[2018-05-15 15:48] afs2015 opened #277 "Mobile Friendly Design"
Currently most of the BeeWare webpages [look like this](https://imgur.com/a/Ny9P5aq), this issue is to change the pages to be mobile device friendly [like this](https://imgur.com/a/dHt6BJ1). I'd say mobile portrait is a good start.

I'm planning to take on a few of these pages during the PyCon 2018 sprints.

[2018-05-17 17:48] afs2015 opened #281 "beeware.org"
Based on a conversation with @freakboy3742 this ticket is to go through the sitemap of pybee.org and identify which pages should belong to new subdomains such as docs.beeware.org, contribute.beeware.org, etc.

[Here's a picture](https://imgur.com/a/aZwcQ8A) of the white board outlining the design with subdomains.

[2018-05-17 17:49] afs2015 commented on #277
Based on a discussion today at PyCon 2018 involving the redesign of this website i'm going to close this issue.

[2018-05-17 17:49] #277 closed

[2018-05-17 19:32] afs2015 commented on #281
Here's a pastebin of my first pass at breaking up the current sitemap.xml into different sections for beeware.org. Any feedback is appreciated!

https://pastebin.com/wWShwJfF

[2018-07-10 20:06] AltoRetrato commented on #63
Hi, everyone!

It seems that nobody has been working on the Portuguese translations for quite some time. I'll try to do a bit each day, when I find some free time.

BTW, there are plenty of "Crowdsourced Translations Managers" that are free for OSS, such as [POEditor](https://poeditor.com/), [Transifex](https://www.transifex.com/), [OneSky](https://www.oneskyapp.com), [Crowdin](https://crowdin.com

[2018-07-10 23:31] goanpeca commented on #63
I had some discussion of options and how django girls tutorial is setup wth crowdin (https://crowdin.com/)

https://github.com/DjangoGirls/tutorial/issues/1271

It would require setting up a "bot account" and some additional scripts, but could help in the translation process.

[2018-07-10 23:55] freakboy3742 commented on #63
@goanpeca FWIW - we already have a bot account with repo modification permissions (@brutusthebee) - if we need another one specifically for translations, that's no problem either.

I'll have a read and poke around crowdin and see what is involved.

[2018-07-11 00:04] goanpeca commented on #63
I think crowdin gives foss to accounts not orgs and that is why we need a bot so the bot has a fork of the website and is linked to that repo.

[2018-07-11 00:22] AltoRetrato commented on #63
@freakboy3742 From this group, Crowdin was my favorite: very fast, easy to use and with great features, and a real joy to use. It supports many import / export formats, and have a nice [API](https://support.crowdin.com/api/api-integration-setup/).

As you might have already seen, the [Open Source project setup request form](https://crowdin.com/page/open-source-project-setup-request) must be filled

[2018-07-11 00:39] AltoRetrato opened #292 "Bugs in the website menu"
I noticed a couple of bugs on the website menu:

- The menu position is fixed, so it can't be scrolled (possibly hiding bottom items, specially in landscape mode)
- I can't change to another language due to the dropdown menu opening mostly out of the bottom of the screen

In the screenshot below (captured on Google Chrome, in "responsive" mode), you can see how the menu is visible in portrait mode

[2018-07-11 16:02] goanpeca opened #300 "Document translation of content in templates using databags"
https://pybee.org/contributing/how/translations/

See [Lektor Docs](https://www.getlektor.com/docs/api/databags) and [this file](https://github.com/pybee/pybee.github.io/blob/lektor/databags/translate.ini

[2018-07-11 16:14] goanpeca commented on #63
It is worth noting that we will be still useing `.lr` files, which is not the same as plain `.rst` or `.md` for which those platforms might be better suited.

[2018-07-11 16:55] AltoRetrato commented on #63
Crowdin currently supports [30+ formats](https://support.crowdin.com/supported-formats/), and unsupported formats are treated as plain text files. It seems that .lr files could be used as-is (i.e., as .txt), or if someone is inclined to, a script could be written to automatically convert to/from a supported format during import/export.

[2018-07-11 16:56] goanpeca commented on #63
@AltoRetrato yes, what I am saying is that the lektor format is more susceptible to corruption if the user accidentally changes a key or removes a `--` in a section separating contents,

[2018-07-11 17:16] AltoRetrato commented on #63
True - but that also goes for the current state of the translations, right?

Another option would be to use a different format and convert to/from it, but I don't know the Lektor file structure/requirements, so I have no idea if a simple conversion to/from, e.g., JSON, would suffice.

[2018-07-11 17:19] goanpeca commented on #63
No, cause they are PRs that can be reviewed, and run tests.

I don't think this is worth it

[2018-07-11 17:20] goanpeca commented on #63
However there is a lektor feature in progress that would allow embedding files as the content of a filed, so for long content, we can have a separate file that is purely md or purely rst.

[2018-07-11 17:36] AltoRetrato commented on #63
The same process could be applied via Crowdin, too: after a batch of translations are done, a script would be invoked to download the .lr files from Crowdin, run automatic tests and make a pull request for each one that pass.

[2018-10-10 15:52] Fcmam5 opened #313 "RTL languages"
Arabic for example, is written from right-to-left,

This is wrong, and sometimes it's hard to read for an Arab user, like it will be `email@domain.com for more information contact`.

![screenshot from 2018-10-10 16-44-37](https://user-images.githubusercontent.com/9090674/46748601-d2a06100-ccab-11e8-8468-c3c0befc7675.png)

The correct form should be:
![screenshot from 2018-10-10 16-42-18](https://u

[2018-11-20 13:14] Flynn84 opened #326 "Translation to Russian"
Hello! I'd like to start translating https://pybee.org to Russian.

Now working on the main page.

P.S. Really interested in Python. Found your project reading an answer on the SO yesterday. Before that only heard of Kivy as a framework for mobile development.

[2019-01-18 05:40] mkartic opened #330 "Broken Link in 'Challenge Coins' page."
The link to MaxCDN blog page seems to have moved. Can this be replaced with a Wayback machine link?

Broken link: https://www.maxcdn.com/blog/beeware-be-sticky/
Archive Link: https://web.archive.org/web/20170923205703/https://www.maxcdn.com/blog/beeware-be-sticky/

[2019-01-19 05:17] SashwatAnagolum opened #331 "Wrongly named list item in language selection dropdown on website"
I spotted a bug in the BeeWare site that shows when users try to change the language option - a 'None' option exists in the language list - this should be changed to Danish. See the screenshot below:

![image](https://user-images.githubusercontent.com/42544553/51422463-e164b100-1bd4-11e9-9954-d5587b623cd3.png)

[2019-01-20 01:41] danyeaw commented on #330
I think this would be fine to update the link the internet archive one. Does someone want to submit a PR?

[2019-01-20 10:13] SashwatAnagolum commented on #330
Hey @danyeaw, I PRed a couple minutes ago, and have fixed the link. A screenshot of my testing environment is attached with the PR.

[2019-01-21 03:05] danyeaw commented on #330
Closed by #332.

[2019-01-21 03:05] #330 closed

[2019-01-30 02:07] apnewberry opened #333 "Status page for target platforms"
Hi I'm interested in using Pybee to make applications. The homepage at pybee.org lists "iOS, Android, Windows, MacOS, Linux, Web, and tvOS" as target platforms.

I'm wondering which of these is currently ready for use in applications. I see [from the Gitter chat](https://gitter.im/pybee/general?at=5c425df79bfa375aab22d567) that

Assuming other people might be interested in following the project or

[2019-01-30 04:01] freakboy3742 commented on #333
Thanks for the suggestion! This is definitely something we need to make more prominent - setting expectations of those finding BeeWare for the first time is something we're clearly not doing well.

More generally, we need to work on our "first experience" funnel - getting people from the homepage, to a single tutorial, setting expectations as they go.

[2019-02-08 21:54] jgirardet commented on #134
Hi,
I'm a today newbee. I was a bit lost going to tuto then briefcase, ...
Then I looked at the Pycon video, it's very clear :
[code]
it's as simple as it but the doc is not aware of it :thinking:

[2019-05-06 03:41] bmacer commented on #331
Created PR #347 to fix this.

[2019-05-06 13:48] #331 closed

[2019-09-08 05:46] tapaswenipathak opened #363 "Labelling the GitHub repository tickets"
Hi Maintainers!

I am thinking of contributing in different projects of the beeware org. I was seeing the tickets aren't labelled in any GitHub repository. If you can label the tickets, would help folks who would like contributing.

[2019-09-09 00:02] freakboy3742 commented on #363
Hi @tapaswenipathak!

We've done this with some tickets on some projects (e.g., https://github.com/beeware/toga/issues). However, while tickets are a good way to interact with an established project, BeeWare is sufficiently new that tickets aren't the best way for a new contributor to get involved with the project.

Tickets are really good when there is a clearly defined bug to resolve. However, w

[2019-09-09 00:02] #363 closed

[2019-09-09 00:49] tapaswenipathak commented on #363
Hey: thanks for writing, a lot of text/information, just an ack, I didn't properly read the text; I would be happy being useful. I have seen your work and I knew the projects you are involved with are great for folks who would like getting involved. Happy remaining day!

[2019-09-09 00:55] tapaswenipathak commented on #363
On Mon, Sep 9, 2019 at 5:32 AM Russell Keith-Magee
<notifications@github.com> wrote:

Hey: thanks for writing, a lot of text/information, just an ack, I
didn't properly read the text; I would be happy being useful. I have
seen your work and I knew the projects you are involved with are great
for folks who would like getting involved. Happy day!

--
Tapasweni

[2019-10-07 18:10] Code4SAFrankie opened #365 "ModuleNotFoundError: No module named 'Tkinter'"
Running `bugjar mypythonfile.py` gives this error:

[code]

Python version: 3.7.1
Using Conda? PipEnv? PyEnv? Pex? pip on WinPython
OS version: Windows 10 version 1903
Browser version: Firefox 69.0

[2020-01-06 08:31] xandrade opened #375 "Beeware webpage's broken links"
Team, I would like to bring to your attention that both links for getting started and quick start are broken at the project webpage.

[2020-01-07 03:50] #375 closed

[2020-02-11 20:00] Uninen opened #379 "Broken tag on homepage "Projects" navigation"
The homepage projects-menu looks like there's a broken Lektor tag:
[code]

Don't quite know what's happening here as I'm not familiar with the tool but output looks like this:

<img width="324" alt="Screenshot 2020-02-11 at 21 56 32" src="https://user-images.githubusercontent.com/43100/74273684-876fe580-4d19-11ea-88ef-db5636b3da78.png">

[2020-02-11 20:01] goanpeca commented on #379
Thanks for reporting! will add a fix for this :-)

[2020-02-13 09:04] freakboy3742 commented on #379
I found the problem - it *should* have been fixed by #380... but now something is breaking when I try to publish the site :-(

[2020-02-13 09:27] freakboy3742 commented on #379
Ok - should now be fixed. Thanks for the report!

[2020-02-13 09:27] #379 closed

[2020-04-05 21:20] dzc0d3r opened #387 "RuntimeError: Failed to install dependency package."
I'm following the instructions as described in the `README.rst` file
so i created a virtual environment venv and choose python2 as the python interpreter
i activated the virtual environment and install lektor via `pip install lektor ` , but when i run `lektor server` am getting this error **`RuntimeError: Failed to install dependency package.`**

**i'm on xubuntu 18.04 machine
using python2 and vi

[2020-04-05 22:26] freakboy3742 commented on #387
Thanks for the report; the README wasn't updated when we moved to Python 3 by default. Sorry for the confusion; if you try again with Python 3, you should have more luck.

[2020-04-05 22:26] #387 closed

[2020-04-06 22:25] dzc0d3r commented on #387
i will try again with python3

[2020-04-06 22:32] dzc0d3r opened #388 "ModuleNotFoundError: No module named 'werkzeug.contrib'"
I'm following the instructions as described in the README.rst file
i created a virtual environment venv, activated the virtual environment and install lektor via `pip install lektor` , but when i run `lektor server` i'm getting this error **ModuleNotFoundError: No module named 'werkzeug.contrib'**

**i'm on xubuntu 18.04 machine
using python 3.6.9 and virtualenv**

and this is the full traceback :

[2020-04-07 06:34] freakboy3742 commented on #388
Ah - this is an annoying bug; but I haven't found a way to fix it as part of the install process.

The issue is that Werkzeug 1.0 removed it's contrib module, and lektor-atom hasn't been updated to reflect this.

You can fix this locally by running:

    pip install -U "Werkzeug<1.0"

This will ensure that you have a compatible version of Werkzeug installed. The longer term fix is to update lektor

[2020-04-07 21:32] dzc0d3r commented on #388
Using :`pip install -U "Werkzeug<1.0"` did the trick, i'm now able to start lektor server, and yes this is an annoying bug and the fix is to update lektor-atom or use something else as you mentioned already 👍

[2020-04-07 23:01] freakboy3742 commented on #388
Unfortunately, lektor-atom hasn't been updated since 2018. There *is* [a PR to fix the problem](https://github.com/nixjdm/lektor-atom/pull/25), but it hasn't been merged.

The [ticket connected to that PR](https://github.com/nixjdm/lektor-atom/issues/23) suggests that the Pallets website uses [a custom plugin](pallets/website@4021a91) and suggests it may be "near drop in compatible". While I'd rat

[2020-04-08 02:53] dzc0d3r commented on #388
i will try and work on own in-repository copy of lektor-atom based on this [PR to fix the problem](https://github.com/nixjdm/lektor-atom/pull/25)

[2020-04-10 23:56] #388 closed

[2020-05-10 04:28] freakboy3742 commented on #326
Closing due to a lack of activity. If anyone is interested in submitting a Russian (or any other translation), we don't need a ticket; submitting only the PR for the translation update is fine.

[2020-05-10 04:28] #326 closed

[2020-05-10 04:29] freakboy3742 commented on #63
Closing due to a lack of activity. If anyone is interested in submitting a Brazilian (or any other translation), we don't need a ticket; submitting only the PR for the translation update is fine.

[2020-05-10 04:29] #63 closed

[2020-05-10 04:30] freakboy3742 commented on #120
Closing; I've started covering this in the individual project's internal docs.

[2020-05-10 04:30] #120 closed

[2020-05-10 04:31] freakboy3742 commented on #134
Closing this as an effective duplicate of #121.

[2020-05-10 04:31] #134 closed

[2020-05-10 04:32] freakboy3742 commented on #121
Agreed that this is definitely something where we are lacking. We need to revisit the homepage and project descriptions to give a better overall feel of how the project pieces fit together.

[2020-05-10 04:32] freakboy3742 commented on #145
Looks like this should be done as part of @goanpeca's changes.

[2020-05-10 04:32] #145 closed

[2020-05-10 04:33] freakboy3742 commented on #156
We've now migrated to Python3, and the README has been updated to reflect this.

[2020-05-10 04:33] #156 closed

[2020-05-10 04:34] freakboy3742 commented on #281
Closing due to a lack of activity. A site redesign is still on the cards.

[2020-05-10 04:34] #281 closed

[2020-05-10 04:36] freakboy3742 commented on #159
We have the start of a translations guide now; it could definitely be improved, but that can be the subject of specific PRs.

[2020-05-10 04:36] #159 closed

[2020-05-10 04:37] freakboy3742 commented on #300
We've added *some* content; closing on that basis. If anyone wants to improve on what is there, we can handle that with PRs.

[2020-05-10 04:37] #300 closed

[2020-05-10 04:38] freakboy3742 commented on #313
Looks like this has been addressed by the Arabic translation.

[2020-05-10 04:38] #313 closed

[2020-05-10 15:09] AltoRetrato commented on #63
IIRC, I sent a few PRs that required local testing with Lektor (and screenshots to prove it), so they were never approved...

[2020-05-10 23:14] freakboy3742 opened #393 "Add preview capability for PR changes"
At present, if a user submits a PR, there's no way to validate that it renders correctly.

We should add, as part of the PR test process, a rendering of the site that can be viewed and tested.

[2020-05-10 23:16] freakboy3742 commented on #63
@AltoRetrato Apologies for that - we definitely don't want the efforts of contributors to be wasted.

I've recorded #393 as a possible fix that will (hopefully) prevent others having the same experience.

[2020-06-05 05:21] brettcannon opened #415 "Stop listing Windows Phone for Enthusiasts ML"
https://www.github.com/beeware/beeware.github.io/tree/lektor/templates%2Fkeep-informed.html lists Windows Phone as a possible platform of interest. That platform is no longer supported or available.

[2020-06-05 05:39] freakboy3742 commented on #415
Thanks @brettcannon; I'll deploy a fix shortly.

[2020-06-05 05:39] #415 closed

[2020-07-06 17:17] goanpeca commented on #393
I can work on this @freakboy3742. Any specifics you had in mind? Like building the site and uploading some artifact? or ?

[2020-07-06 17:17] goanpeca opened #425 "Add metatags to show preview content when sharing website links"

[2020-07-06 23:20] freakboy3742 commented on #393
"Build the site, upload somewhere visible" is the core of the idea. If someone submits a CSS, template, or configuration change, the review process currently involves pulling down the site, building it, checking the change, and then approving the PR. Most of that could be done automated.

Beyond that, I'm open to suggestions. Building in CI and uploading the result to an S3 bucket configured to se

[2020-07-07 00:50] goanpeca commented on #393
Looking into netlify

[2020-07-08 03:18] #393 closed

[2020-12-13 15:02] venomega opened #453 "setup.py commands not found"
please what am i doing wrong
i just create a default project with
    briefcase new
    cd helloworld
    briefcase create android
an it says
    Template does not support 3.9

and if i do
    cookiecutter https://github.com/pybee/briefcase-template
    cd helloworld
    python setup.py android -s
it says
[code]
does not work for any command writed inside setup.py
**To Reproduce**
Steps to reprodu

[2020-12-13 15:04] venomega commented on #453
im using archlinux, i have create an new rootfs an install everything inside that rootfs, i tried with venv too and does not work, say same errors

[2020-12-13 22:22] freakboy3742 commented on #453
After you ran `briefcase new`, you received an error message "Template does not support 3.9".

That's the cause of the problem. Briefcase requires binary components, and we haven't prepared those components for Python 3.9. If you use Python 3.8 or earlier, you won't get that error.

The subsequent error about "setup.py not found" is an error of usage; you've cloned an old version of the template,

[2020-12-13 22:22] #453 closed

[2020-12-15 07:39] pythoniseasy-hub commented on #292
Sir i Fixed This Issue
https://github.com/beeware/beeware.github.io/pull/454/files

[2021-02-22 12:07] Viridescence opened #457 "Add instructions to remove a VENV in tutorial"
Hello!

I've been wanting to contribute for a bit, and I've been given that opportunity in the tutorial (https://docs.beeware.org/en/latest/tutorial/tutorial-0.html). In the "Set up a virtual environment" section, the tutorial explains perfectly how to create a VENV, and why it is important. However, more clarification on how to delete it would be useful: online resources only talk about virtualen

[2021-02-22 22:17] freakboy3742 commented on #457
Moving to beeware/beeware, since that's where the tutorial is kept.

This is an interesting idea - but I have concerns about snowballing. There are plenty of skills that you need to be able to successfully complete the BeeWare tutorial - but the BeeWare tutorial isn't the place to be a Python tutorial, or a Git tutorial, or a Github tutorial, or a command line tutorial, or an operating system admi

[2021-03-02 12:12] dhawal-kamdar commented on #292
I have fixed this issue.
Please check https://github.com/beeware/beeware.github.io/pull/459
or check live website https://deploy-preview-459--beeware.netlify.app/

[2021-03-04 05:15] #292 closed

[2021-09-04 00:55] GitHubofkangk opened #468 "(macos m1)FileNotFound : android emulator"
**Describe the bug**
ceate android, build android both normal. while run android, raise error: **FileNotFoundError: [Errno 2] No such file or directory: '/Users/likang/.briefcase/tools/android_sdk/emulator/emulator'.**

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
run in android emulator

**Environment:**
 - Operating System: macOS Big Sur apple m1
 - Python versi

[2022-04-28 02:19] zengduo opened #475 "when I run "briefcase run android"， “Obtaining device skin... Unable to download pixel_3a device skin; is your computer offline?”"
**Describe the bug**
when I run: "briefcase run android",

Obtaining device skin...
Unable to download pixel_3a device skin; is your computer offline?

but my computer is online

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/9933502/165663182-9b68f1e1-f70a-4c0d-8efa-9d2d1610bfe6.png)

**Environment:**
 - Operating Sy

[2022-04-28 02:24] freakboy3742 commented on #475
"Is your computer offline" is a general suggestion; what is being reported here is that Briefcase is unable to download a specific file. The most common cause is being offline, but any other connectivity issue could be the cause (e.g., a firewall, a temporary network glitch, etc).

The first thing to do is retry the run; if it was a temporary network glitch, it's possible that the issue will self-

[2022-06-04 05:26] GrimPixel opened #481 "[Feature request] Text directions like CSS writing-mode"
**Is your feature request related to a problem? Please describe.**
I am trying to develop a GUI with top-to-bottom text, including North Asian and East Asian languages (Chinese, Japanese, Korean, Mongolian, Manchu, etc.).

**Describe the solution you'd like**
Able to set the text direction with one attribute.

**Describe alternatives you've considered**
Rotate the text for Mongolian, Manchu; rotat

[2022-06-04 05:27] GrimPixel commented on #481
Eh, I posted in the wrong place.

[2022-06-04 05:27] #481 closed

[2022-07-23 06:25] wd444847661 commented on #475
Hi:
    I met the same issue. I can download the item from the url you provided. So can I download the skin and put it somewhere mannuly in my computer to solove this issue?

[2022-07-24 23:36] freakboy3742 commented on #475
@wd444847661 If you unpack that tarball as `~/.briefcase/tools/android_sdk/skins/pixel_3a` (there should be a file named `~/.briefcase/tools/android_sdk/skins/pixel_3a/layout` after unpacking), you should be able to continue to the next step. However, the next step is to download a collection of android system tools, and there's no (easy) way to work around this download - it's managed by the Andr

[2022-07-24 23:36] #475 closed

[2022-10-04 22:53] freakboy3742 opened #494 "Replace Netlify"
It appears we're outgrown Netlify.

We are currently using Netlify to provide PR previews of pull requests. However, Netlify has recently made some radical changes to their pricing structure, reducing the number of build minutes allowed per month on the free tier, and reducing the time limit on builds. We hit the first limit on the 3rd of October; we hit the second limit on every build in October.

[2022-10-07 05:36] freakboy3742 commented on #494
This may be about to become critical - Netlify has started sending me emails talking about how my sites will be suspended if I don't give them a credit card.

[2022-10-09 00:48] dzc0d3r commented on #494
May i suggest using [render](https://render.com) instead they provide free static website hosting see [pricing ](https://render.com/pricing) and provide[ PR previews](https://render.com/docs/pull-request-previews) as well, since you can use their service to host a static website for free .. PR reviews will be also free

[2022-10-09 01:24] dzc0d3r commented on #494
Just a suggestion .. why not using Github actions ? maybe [pr-preview ](https://github.com/rossjrw/pr-preview-action) or [surge-pr-preview](https://github.com/marketplace/actions/deploy-pr-preview)

[2022-10-09 04:52] freakboy3742 commented on #494
@dzc0d3r We already use Github Actions for CI, so yes - I imagine Github Actions will be used.

If you're referring a specific action (such as the the two you mention) that deploy to GitHub *Pages* - that *might* be a possible solution. However, from first inspection:

 * pr-preview deploys to `https://[owner].github.io/[repo]/pr-preview/pr-[number]/`; that means the root URL of the generated site

[2022-10-10 00:12] dzc0d3r commented on #494
@freakboy3742 My bad i didn't pay attention to root URL for the pr-preview and yes using surge-pr-preview isn't a solution since they can change rules for their free tier

Publishing to the bucket at the end of a CI isn't the main problem .. But like you said the complex thing is making  ```https://pr123.ci.beeware.org```redirect to a configuration serving at ```s3://beeware-website/ci/pr123``` as

[2022-10-10 00:24] freakboy3742 commented on #494
@dzc0d3r The base tag in RSS is only *one* example of a potential problem. Consider the image on the homepage: `<img href="/static/images/brutus-270.png">`. That's an absolute URL. If you mount the PR-preview site at https://beeware.org/preview/pr-number, the `img` will be pointing an image on the main site, not the one on the PR preview site. The same will be true for every image, every hyperlink

[2022-10-10 23:46] dzc0d3r commented on #494
@freakboy3742 Yes, using [https://beeware.org/preview/pr-number](url) isn't a good idea in general.
For using subdomains for PR previews like ```https://pr123.ci.beeware.org``` I think i found something that may help using AWS Amplify  [AWS amplify docs ](https://docs.aws.amazon.com/amplify/latest/userguide/pr-previews.html) but it requires Amplify and Route 53
Other solutions seems more complicat

[2022-10-11 00:08] freakboy3742 commented on #494
@dzc0d3r From an initial look, Amplify might be a good option - certainly an easier option than a custom CloudFront+ configuration.

[2022-10-11 04:49] freakboy3742 commented on #494
Ping @glasnt since you expressed interest

[2022-10-12 05:55] glasnt commented on #494
I've setup a preview of firebase hosting on my project fork

https://github.com/glasnt/beeware.github.io/pull/1

I've also already setup a $1 billing alert on that account, just in case any costs are incurred.

[2022-10-21 17:25] #494 closed